In [24]:
import pandas as pd

In [25]:
for item in df['name']:
    if "(" in item:
        file_name = item.split(" ")[0] + ".pdf"
        print(item)
        print(file_name)

2022_PWR_808483_1 (1).pdf
2022_PWR_808483_1.pdf
2023_PWR_884035_1 (2).pdf
2023_PWR_884035_1.pdf
2022_PWPIU_214675_1 (1).pdf
2022_PWPIU_214675_1.pdf
2022_PWPIU_212064_1 (2).pdf
2022_PWPIU_212064_1.pdf
2022_PWPIU_212064_1 (1).pdf
2022_PWPIU_212064_1.pdf
2022_WRD_180279_1 (1).pdf
2022_WRD_180279_1.pdf
2022_WBRRD_214754_1 (2).pdf
2022_WBRRD_214754_1.pdf
2022_WBRRD_214754_1 (1).pdf
2022_WBRRD_214754_1.pdf

In [36]:
df = pd.read_excel("E:\Projects\GCP Integration\Drive\\790 Work Orders 2024-02-08.xlsx")
df.head()

,kind,mimeType,id,name
0,drive#file,application/pdf,1cOJgOr3cYNs3U365_gttBUDNb-DCcOsN,2022_EPI_133456_1.pdf
1,drive#file,application/pdf,16O0wYfV-fio6tAFQhGIhsWkzbIyS8MmQ,2022_PWR_832791_1.pdf
2,drive#file,application/pdf,1nDVL8qvP841xvId3HgqnwcyaYvhPkXhg,2022_PWR_855889_1.pdf
3,drive#file,application/pdf,1ytXRMbdPBiWrN1-AMqfiTo1Nwpj6MnGk,2022_PWR_855893_1.pdf
4,drive#file,application/pdf,1K7_VAKqdYdIf2z7cLVmevGRbbVWqQcFl,2022_PWR_855883_1.pdf

In [39]:
df[(df['name']).duplicated()]

,kind,mimeType,id,name
613,drive#file,application/pdf,1bdrCQX07HP4h_6eCfsM_d6Psiaj9FwtU,2023_PWR_884035_1.pdf

In [40]:
df.shape[0] - df['name'].nunique()

1

In [5]:
5%2

1